
.gradle/7.1/dependencies-accessors/

*.bin

*.lock

.gradle/7.1/

.gradle/buildOutputCleanup/

.gradle/vcs-1/

.idea/codeStyles/

.idea/

build/classes/java/main/com/slx/prototype/

build/classes/java/test/com/slx/prototype/

build/reports/tests/test/classes/

build/reports/tests/test/css/

build/reports/tests/test/

build/test-results/test/binary/

build/test-results/test/

gradle/wrapper/
